@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

.contact-us {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-us-headers {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 2vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

form {
    border: 2px solid black;
    padding: 2vw 8vw;
    margin: 2vw 0;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.middle-row {
    display: flex;
    justify-content: space-between;
}

.bottom-row {
    display: flex;
    justify-content: center;
}

.submit-flex {
    display: flex;
    justify-content: center;
}

label, input[type=submit], .submit-button {
    font-weight: 700;
    font-size: 1.5vw;
    font-family:"Libre Baskerville", sans-serif;
}

.field-container {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

#name-field, #email-field {
    border: none;
    border-bottom: 2px solid black;
    width: 16vw;
    max-width: 300px;
}

#message-field {
    border: 2px solid black;
    width: 36vw;
    max-width: 720px;
    height: 16vw;
    max-height: 450px;
}

#message-field, #name-field, #email-field {
    font-size: 1vw;
    font-family: "Lato", sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

input[type=submit], .submit-button {
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    margin: 16px 0;
    margin-bottom: 24px;
    padding: 8px 16px;
}

.section-break {
    display: flex;
    border: 2px solid black;
    margin: 2vw 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {

form {
    display: flex;
    justify-content: center;
}

.top-row {
    flex-direction: column;
}

.middle-row {
    flex-direction: column;
}

.bottom-row {
    flex-direction: column;  
}

#message-field, #name-field, #email-field {
    width: 100%;
    padding: 0;
    font-size: 14px;
}

.contact-us-headers {
    font-size: 2vh;
}

label, input[type=submit] {
    font-size: 1.5vh;
}

input[type=submit] {
    margin-top: 4px;
}

}
