@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

.contact-me {
    margin: 0 12vw;
    display: flex;
    justify-content: center;
}

form {
    border: 2px solid black;
    /* margin: 0 32px; */
    /* min-width: 32vw; */
    /* max-width: 800px; */
}

.label-text-alignment {
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    justify-content: center;
}

.kwes-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32vw;
    min-width: 700px;
}
/* .bottom-row {
    display: flex;
    justify-content: center;
} */

.contact-me-labels {
    font-family: "Libre Baskerville", sans-serif;
    margin-top: 2vw;
}

#name-field, #email-field {
    border: none;
    border-bottom: 2px solid black;
    width: 16vw;
    max-width: 200px;
    font-family: "Lato", sans-serif;
}

#name-field {
    margin: 0 4vw 0vw 0;
}

/*the margins above adjusts the name and email input equally*/

input[type=submit] {
    background-color: white;
    border: 2px solid black;
    font-family: "Libre Baskerville", sans-serif;
    padding: .5vw 1vw;
    margin: 2vw 0;
}

input[type=submit], .contact-me-labels {
    font-size: 1.2vw;
}

#message-field {
    /* width: 30vw; */
    width: 100%;
    /* max-width: 450px; */
    height: 16vw;
    max-height: 350px;
    border: 2px solid black;
    font-family: "Lato", sans-serif;
}