@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

.experiences {
    margin: 2vw 12vw;
}

.non-home-headers{
    margin: 1vw 0;
}

.section-headers {
    display: flex;
    justify-content: center;
    font-family: "Libre Baskerville", sans-serif;
    text-decoration: underline;
    font-size: 1.5vw;
}

.section-text {
    font-size: 1.5vw;
    text-align: center;
}

.section-image-top img{
    width: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .section-headers, .section-text {
        font-size: 1.5vh;
    }
}