@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

  .top-nav {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-nav a {
    text-decoration: none;
    color: black;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 22px;
    padding: 16px 24px 16px 24px;
  }
  .nav-links {
    display: flex;
  }
