@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

  .top-nav {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: absolute;
    width: 100%;
  }
  .top-nav a, .headers, .link-buttons {
    /*  */
    /*  */
    /*  */
    font-size: 24px;
    padding: 16px 24px 16px 24px;
  }
  .link-buttons {
    font-size: 20px
  }
  /*Will have to experiment with potential font sizes for buttons*/
  .nav-links {
    display: flex;
  }
  /*I think the above should go in master.css*/
  /* .headers {
    border-top: 2px solid;
    border-bottom: 2px solid;
  } */
  /*The above one maybe?*/
  .home-image {
    overflow: hidden;
    position: relative;
  }
  /*will probably just have to make the image blurred and add that*/
  .home-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
  }
  .home-main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  */
    font-size: 48px;
    font-family: "Libre Baskerville", sans-serif;
    text-shadow: 1px 1px 6px white;
  }
  .home-about-me, .home-current {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0 160px;
    /* align-items: center; */
    /* height: 50vh; */
  }
  .home-about-me-text {
    display: flex;
    font-size: 24px;
    white-space: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    /*test the above to see if center or left is better */
    width: 100%;
  }
  .home-about-me-image {
    width: 100%;
    height: auto;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
  }
  .home-about-me-image img{
    display: block;
    width: 100%;
    height: auto;
    /* height: auto; */
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    /* max-width: 100%;
    max-height: 100%; */
    /* height: 100%;
    width: 100%; */
    /* transform: scale(0.5); */
  }
  /*When inserting new about me image, must change home about me image. home about me image img, and home about me!*/
  @media (min-width: 2000px){
    .home-about-me-image img {
      max-height: 50%;
    }
  }