@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

  .top-nav, .bottom-footer {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: absolute;
    width: 100%;
  }
  .top-nav a, .headers, .link-buttons {
    /*  */
    /*  */
    /*  */
    font-size: 1.8vw;
    padding: 1.2vw 1.2vw 1.2vw 1.2vw;
  }

  /* .link-buttons {
    max-width: 20vw;
    max-height: 8vw;
    text-align: center;
  } */

  /*Will have to experiment with potential font sizes for buttons*/
  .nav-links, .bottom-footer {
    display: flex;
  }

  .headers {
    /* margin: 8px 0; */
  }

  .section-break {
    /* display: flex; */
    /* justify-content: center; */
    border: 2px solid black;
    margin: 1.2vw 12vw;
  }

  .home {
    display: flex;
  }
  /*I think the above should go in master.css*/
  /* .headers {
    border-top: 2px solid;
    border-bottom: 2px solid;
  } */
  /*The above one maybe?*/

  .home-image {
    overflow: hidden;
    position: relative;
  }
  /*will probably just have to make the image blurred and add that*/
  .home-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
  }

  .home-main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  */
    font-size: 3vw;
    font-family: "Libre Baskerville", sans-serif;
    text-shadow: 1px 1px 6px white;
  }

  .home-about-me, .home-current {
    display: flex;
    flex-wrap: wrap; /*added this*/
    justify-content: center;
    height: auto;
    padding: 0 12vw;
    /* align-items: center; */
    /* height: 50vh; */
  }

  /*padding with vw changes padding based on screen size*/
  .home-about-me-text, .home-current-text {
    display: flex;
    font-size: 1.5vw; /*changed this to vw*/
    white-space: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    flex: 1 1 50%; /*added this*/
    /*test the above to see if center or left is better */
    width: 100%;
    
  }

  .home-current-text {
    margin-left: 1vw;
  }

  .home-about-me-image, .home-current-image {
    width: 100%;
    height: auto;
    flex: 1 1 50%; /*changed the percentage*/
    display: flex;
    /* align-items: flex-start; */
    max-width: 35vw; /*added this*/ /*then added vw*/
  }

  .home-current-image {
    /* justify-content: center; */
  }

  .home-about-me-image img, .home-current-image img{
    display: block;
    width: 100%;
    height: auto;
    /* height: auto; */
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    /* max-width: 100%;
    max-height: 100%; */
    /* height: 100%;
    width: 100%; */
    /* transform: scale(0.5); */
  }

  .home-current-image img {
    width: 100%;
    /* height: 30vw; */
    object-fit: contain;
  }

  footer {
    border-top: 2px solid black;
    margin-top: 1.2vw;
  }

  .bottom-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* padding: 0 12vw; */
  }

  .bottom-footer-links {
    display: flex;
  }

  .bottom-footer-links a {
    padding: 1.2vw 1.2vw 1.2vw 1.2vw;
    font-weight: 400;
    font-family: "Lato";
    font-size: 1.2vw;
  }
  
  .social-media-icons {
    display: flex;
    font-size: 1.7vw;
  }

  .social-media-icons a{
    margin: 0 1vw;
  }
  .copyright {
    margin: 1.2vw 1.2vw 1.2vw 1.2vw;
    font-size: .8vw;
  }
  
  /*Max width on img and font-size on text have vw to adjust with screen size
  that's how you adjust text size and image size*/
  
  /*7/11/2023: Finally got image and text to scale. Adjust vw(s) as needed. Tomorrow I should spend my alloted time
  updating all of the text and padding so it scales based on screen size (vw).*/


  /* @media (min-width: 1500px){
    .home-about-me-image{
      flex: 2 2 auto
    }
    .home-about-me-text{
      font-size: 26px;
    }
  }
  @media (min-width: 1700px){
    .home-about-me-text{
      font-size: 28px
    }
  }
  @media (min-width: 1900px){
    .home-about-me-text{
      font-size: 32px;
    }
  }
     */