@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

  body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: black;
  }

  a, .headers, .non-home-headers {
    text-decoration: none;
    color: black;
    font-family: 'Libre Baskerville', sans-serif;
  }

  a:hover {
    text-decoration: underline;
  } 

  .headers, .non-home-headers {
    text-decoration: underline; /*get feedback on these underlines*/
  }

  .link-buttons {
    border: 2px solid;
    margin: 1.2vw 0 1.2vw 0;
  }

  .headers, .link-buttons-flex, .non-home-headers {
    display: flex;
    justify-content: center;
  }

  .non-home-headers {
    font-size: 2.5vw;
  }

  .section-break { /*solid line between sections*/
    border: 2px solid black;
    margin: 1vw 0;
  }

/* Navbar CSS */

  .top-nav, .bottom-footer { /*affects nav and footer*/
    background-color: white;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
  }

  .top-nav a, .headers, .link-buttons { /*font size and padding for buttons, nav links, and headers*/
    font-size: 1.6vw;
    padding: 1vw 1vw 1vw 1vw;
  }

  .home-link {
    float: left;
    justify-content: flex-start;
    text-align: center;
  }

  .top-nav a {
    float: right;
  }

  .top-nav .hamburger-icon {
    display: none;
  }

  .other-links {
    display: flex;
    justify-content: flex-end;
  }


  @media screen and (max-width: 600px) {

  .hamburger-icon i {
    font-size: 3vh;
    padding: 1vh 1vh;
  }

  .home-link a {
    font-size: 3vh;
    padding: 1vh 1vh;
  }

  #about-me-link, #experiences-link, #contact-me-link, #resume-link {
    font-size: 3vh;
  }

  .top-nav a:not(:first-child) {
    display: none;
  }

  .top-nav a.hamburger-icon {
    float: right;
    display: block;
  }

  .top-nav.responsive {
    position: absolute;
  }

  .top-nav.responsive a.hamburger-icon {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
  }

  .top-nav.responsive a {
    display: block;
    text-align: left;
    clear: both;
  }

  }

/*End of Navbar CSS*/

/*Start of Footer*/

  footer {
    border-top: 2px solid black;
    margin-top: 1vw;
  }

  .bottom-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .bottom-footer-links {
    display: flex;
  }

  .bottom-footer-links a {
    padding: 1vw 1vw;
    font-weight: 400;
    font-family: "Lato";
    font-size: 1.2vw;
  }
  
  .social-media-icons {
    display: flex;
    font-size: 1.7vw;
  }

  .social-media-icons a{
    margin: 0 1vw;
  }
  .copyright {
    margin: 1vw 1vw 1vw 1vw;
    font-size: .8vw;
  }

  @media only screen and (max-width: 600px) {
    .bottom-footer-links a{
      font-size: 1.2vh;
      padding: 1vh 1vh;
    }

    .social-media-icons a{
      font-size: 1.7vh;
    }

    .copyright {
      font-size: .8vh;
    }
  }

  /*End of Footer CSS*/

  /*Start of Index Media Query*/
  
  @media only screen and (max-width: 600px) {
    .headers, .link-buttons {
      font-size: 1.6vh;
      padding: 1vh 1vh 1vh 1vh;
    }
  }

/*End of Footer*/