@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: black;
}

a, .headers, .non-home-headers {
    text-decoration: none;
    color: black;
    font-family: 'Libre Baskerville', sans-serif;
}

a:hover {
  text-decoration: underline;
  /* transition: right 0.3s ease 0 left 0.3s ease 0; */
  /* transform-origin: center;
  transition: width 0.3s ease 0s, left 0.3s ease 0; */
}

/* a.active {
  text-decoration: underline;
} */

.active {
  text-decoration: underline;
}

.headers, .non-home-headers {
    text-decoration: underline; /*get feedback on these underlines*/
}

.link-buttons {
    border: 2px solid;
    margin: 1.2vw 0 1.2vw 0;
}
/*will have to experiment with margins for the buttons*/
.headers, .link-buttons-flex, .non-home-headers {
    display: flex;
    justify-content: center;
}

.non-home-headers {
  font-size: 2.5vw;
}

.section-break { /*solid line between sections*/
    border: 2px solid black;
    margin: 1vw 0;
}

/* Navbar CSS */

.top-nav, .bottom-footer { /*affects nav and footer*/
    background-color: white;
    overflow: hidden;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
}

.top-nav a, .headers, .link-buttons { /*font size and padding for buttons, nav links, and headers*/
    font-size: 1.6vw;
    padding: 1vw 1vw 1vw 1vw;
}

/* .nav-links, .bottom-footer {
    display: flex;
}

.home { 
    display: flex;
}

.hamburger-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-links a {display: none;}

  .top-nav a.hamburger-icon {
    display: block;
    position: absolute;
    top: 0;
  }

  .top-nav.responsive {position: relative;}

  .top-nav a {

    padding: 0;
  }

  .nav-links a{
    padding: 1vh .2vh;
  }

  .home-link a, .hamburger-icon i {
    padding: 1vw 1vw;
  }

  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .top-nav a, .hamburger-icon i {
    font-size: 3vh;
  }

  .hamburger-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .top-nav {
    display: inline;
  }

  .top-nav.responsive {
    position: relative;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-end;
  }

  a:hover {
    text-decoration: none;
  }
} */

.home-link {
  float: left;
  justify-content: flex-start;
  text-align: center;
}

.top-nav a {
  float: right;
}

.top-nav a.active {
  text-decoration: underline;
}

.top-nav .hamburger-icon {
  display: none;
}

.other-links {
  display: flex;
  justify-content: flex-end;
}



@media screen and (max-width: 600px) {
.top-nav a:not(:first-child) {
  display: none;
}

.top-nav a.hamburger-icon {
  float: right;
  display: block;
}

.top-nav.responsive {
  position: relative;
}

.top-nav.responsive a.hamburger-icon {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
}

.top-nav.responsive a {
  /* float: none; */
  display: block;
  text-align: left;
  clear: both;
}

}

/*End of Navbar CSS*/

/*Start of Footer*/

footer {
    border-top: 2px solid black;
    margin-top: 1vw;
  }

  .bottom-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .bottom-footer-links {
    display: flex;
  }

  .bottom-footer-links a {
    padding: 1vw 1vw;
    font-weight: 400;
    font-family: "Lato";
    font-size: 1.2vw;
  }
  
  .social-media-icons {
    display: flex;
    font-size: 1.7vw;
  }

  .social-media-icons a{
    margin: 0 1vw;
  }
  .copyright {
    margin: 1vw 1vw 1vw 1vw;
    font-size: .8vw;
  }

  @media only screen and (max-width: 600px) {
    .bottom-footer-links a{
      font-size: 1.2vh;
      padding: 1vh 1vh;
    }

    .social-media-icons a{
      font-size: 1.7vh;
    }

    .copyright {
      font-size: .8vh;
    }
  }

  /*End of Footer CSS*/

  /*Start of Index Media Query*/
  
  @media only screen and (max-width: 600px) {
    .headers, .link-buttons {
      font-size: 1.6vh;
      padding: 1vh 1vh 1vh 1vh;
    }
  }

/*End of Footer*/